{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}
{% load menu %}

{% block menu %}
    {% show_menu %}
{% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">
                                {% for item in ancestors %}
                                    <a href="{{ item.get_absolute_url }}">{{ item.title }} ></a>
                                {% endfor %}
                            </h6>
                            <ul class="pagination">
                                {% if page_obj.has_previous %}
                                    <li class="page-item">
                                        <a href="?page={{page_obj.previous_page_number}}" class="page-link">Previous</a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button page-item next disabled">
                                        <a href="#" class="page-link">Previous</a>
                                    </li>
                                {% endif %}
                                {% for p in page_obj.paginator.page_range %}
                                    {% if page_obj.number == p %}
                                        <li class="page-item active" aria-current="page">
                                            <a href="?page={{p}}" class="page-link">{{p}}</a>
                                        </li>
                                    {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3  %}
                                        <li class="page-item">
                                            <a href="?page={{p}}" class="page-link">{{p}}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                                {% if page_obj.has_next %}
                                    <li class="page-item">
                                        <a href="?page={{page_obj.next_page_number}}" class="page-link">Next</a>
                                    </li>
                                {% else %}
                                    <li class="paginate_button page-item next disabled">
                                        <a href="#" class="page-link">Next</a>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" width="100%">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for item in employees %}
                                            <tr>
                                                <td>{{ item.name }}</td>
                                                <td>{{ item.position }}</td>
                                                <td>{{ item.department }}</td>
                                                <td>{{ item.employment_date }}</td>
                                                <td>{{ item.salary }} руб.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                            <div class="card-footer py-3">
                                <h6>Выведено {{ employees.count }} из {{ count }} сотрудников</h6>
                            </div>
                        </div>
                    </div>
                </div>
{% endblock %}