{% extends "base.html" %}
{% load static %}
{% load mptt_tags %}

{% block menu %}
        <ul class="root my-dropdown">
                    {% recursetree departments %}
                        <div class="my-dropdown-submenu">
                            {% if not node.is_leaf_node %}
                               <div class="my-dropdown-submenu--first-link">
                                  <a href="{% url 'departments' node.slug %}">
                                    <span> {{ node.title }} </span>
                                  </a>
                                  <span class="my-dropdown-submenu--after"> > </span>
                               </div>
                             {% else %}
                                <div class="my-dropdown-submenu--first-link">
                                  <a href="{% url 'departments' node.slug %}">
                                    <span> {{ node.title }} </span>
                                  </a>
                               </div>
                             {% endif %}

                            {% if not node.is_leaf_node %}
                                <div class="children">
                                    {{ children }}
                                </div>
                            {% endif %}
                        </div>
                    {% endrecursetree %}
                </ul>
{% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Все сотрудники</h6>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </thead>
                                    <tfoot>
                                        <tr>
                                            <th>Name</th>
                                            <th>Position</th>
                                            <th>Office</th>
                                            <th>Start date</th>
                                            <th>Salary</th>
                                        </tr>
                                    </tfoot>
                                    <tbody>
                                        {% for i in employees %}
                                            <tr>
                                                <td>{{ i.name }}</td>
                                                <td>{{ i.position }}</td>
                                                <td>
                                                    {% for item in i.department.get_ancestors %}
                                                        {{ item }}
                                                    {% endfor %}
                                                    {{ i.department }}
                                                </td>
                                                <td>{{ i.employment_date }}</td>
                                                <td>{{ i.salary }} руб.</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /.container-fluid -->
{% endblock %}