{% load mptt_tags %}

{% block content %}
              <ul class="root my-dropdown">
                    {% recursetree departments %}
                        <div class="my-dropdown-submenu">
                            {% if not node.is_leaf_node %}
                               <div class="my-dropdown-submenu--first-link">
                                  <a href="{% url 'departments' node.slug %}">
                                    <span> {{ node.title }} </span>
                                  </a>
                                  <span class="my-dropdown-submenu--after"> > </span>
                               </div>
                             {% else %}
                                <div class="my-dropdown-submenu--first-link">
                                  <a href="{% url 'departments' node.slug %}">
                                    <span> {{ node.title }} </span>
                                  </a>
                               </div>
                             {% endif %}

                            {% if not node.is_leaf_node %}
                                <div class="children">
                                    {{ children }}
                                </div>
                            {% endif %}
                        </div>
                    {% endrecursetree %}
                </ul>

{% endblock %}